{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="col text-center">

    <button class="btn btn-success pull-right">{{ button_label|default('valider') }}</button>
</div>
{{ form_end(form) }}
